<form ng-submit="submit()" class="form-container" autocomplete="off">
  <div class="modal-header">
    <h1>Create a new playlist</h1>
  </div>
    <div class="modal-body">
        <div class="form-group">
          <input type="text" ng-model="text" name="text" class="form-control" placeholder="Enter playlist name">
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
      <input type="submit" id="submit" value="Submit" class="btn btn-primary">
    </div>
</form>
