<div class="home-page">
    <div class="playlist">
      <h3>Your Music</h3>
      <a class="new-playlist" ng-click="newPlaylist()"> + New Playlist</a>
      <ul class="playlist-list">
        <li ng-repeat="playlist in playlists()">
          <h4 ng-click="setPlaylist(playlist)">{{playlist.title}}</h4>
        </li>
      </ul>
    </div>
    <div class="playlist-content">
      <form ng-submit="getVideos()" class="search-container" ng-show="user.id">
        <input class="search-button" id="utube_search" type="submit" style="display:none"> </input>
        <input class="search-bar" ng-show="searchBarError" id="utube_query" type="text" ng-model="text" autocomplete="off" placeholder="{{searchBarError}}" />
        <input class="search-bar" ng-show="!searchBarError" id="utube_query" type="text" ng-model="text" autocomplete="off" placeholder="What do you wanna see?" />
      </form>
      <ng-include src="'/app/views/playlist-video-content.html'" ng-show="currentPlaylist"></ng-include>
      <ng-include src="'/app/views/video-search-results.html'" ng-show="!currentPlaylist"></ng-include>
    </div>
</div>
