<div class="home-page">
  <div class="row">
    <div class="col-md-4 playlist">
      <h3>Playlists</h3>
      <a class="button" ng-click="newPlaylist()"> + New Playlist</a>
      <ul class="playlist-list" ng-repeat="playlist in playlists()">
        <li>
          <h4 ng-click="setPlaylist(playlist)">{{playlist.title}}</h4>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <h1>{{currentPlaylist.title}}</h1>
      <div ng-show="currentPlaylist">
        <a class="button" ng-click="newSong()"> + New Song</a>
        <table class="songs-table">
          <thead>
            <tr>
              <th>SONG</th>
              <th>ARTIST</th>
              <th>URL</th>
            </tr>
          </thead>
            <tr ng-repeat="song in songs()">
              <td>{{song.title}}</td>
              <td>{{song.artist}}</td>
              <td><a href="{{song.url}}" target="_blank">link</a></td>
              <td><i ng-click="deleteSong(song)"class="fa fa-trash-o" aria-hidden="true"></i></td>
            </tr>

        </table>
      </div>
    </div>
  </div>
</div>
