<div class="playlist-video-content">
  <div class="video-and-playbar">
    <div class="video">
    </div>
    <div class="playlist-video-info">
       <div class="playlist-sub-info">
         <h1>{{currentPlaylist.title}}</h1>
         <h4>BY {{currentPlaylist.user.name}}</h4>
         <small> {{songs().length}} song(s) • length</small>
        </div>
        <div class="play-bar">
          <img class="back-button" src="/../assets/images/previous_button.png"/>
          <img class="play-button" src="/../assets/images/play_button.png"/>
          <img class="next-button" src="/../assets/images/next_button.png"/>
        </div>
        <div class="follow">FOLLOW</div>
    </div>
  </div>
  <table class="songs-table">
    <thead>
      <tr>
        <th>TITLE</th>
        <th>DURATION</th>
        <th>ADDED BY</th>
        <th></th>
      </tr>
    </thead>
      <tr ng-repeat="song in songs()" ng-show="songs().length > 0">
        <td>{{song.title}}</td>
        <td>{{convertDuration(song.duration)}}</td>
        <td>{{song.user.name}}</td>
        <td><i ng-click="deleteSong(song)"class="fa fa-trash-o" aria-hidden="true"></i></td>
      </tr>
  </table>
  <div class="no-tracks" ng-show="songs().length === 0">
    <p>This playlist contains no tracks.</p>
  </div>
</div>
