/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
.button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 14px;
}
.nav-bar {
  width: 100%;
  height: 80px;
  background-color: white;
}

nav.nav-bar {

  img {
    width: 3%;
    height: auto;
    margin-top: 8px;
    float: left;
  }

  h1 {
    margin-top: 10px;
    margin-left: 70px;
    float: left;
    font-size: 30px;
  }

  ul {
    width: 25%;
    float: right;
    margin-top: 10px;
    margin-right: 70px;
    li {
      width: 50%;
      float: left;
      font-size: 18px;
      a {
        text-decoration: none;
        color: grey;
      }
    }
  }


}
html {
  height: 100%;
  width: 100%;
}
body {
  text-align: center;
  height: 100%;
  ul li {
    text-decoration: none;
    list-style: none;
  }

  a {
    text-decoration: none;
    &:hover, &:visited {
      text-decoration: none;
    }
  }
}

div.gif-container {
  background-image: url('../assets/images/icecream.gif');
  height: 100%;
  position: relative;
}

#no-color {
  background-color: transparent;
}

form.form-container {
   margin: 0 auto;
   text-align: center;
   width: 80%;
   form input {
     border: 1px solid #dfe0e6;
     border-radius: 2px;
     -webkit-border-radius: 2px;
   }

   div.form-group input {
     padding: 6px 10px;
     height: 50px;
     width: 100%;
     max-width: 450px;
     min-width: 200px;
   }

  div.form-group input.submit {
     background-color: #5ea2c5;
     color: white;
     border: none;
     width: 100%;
     max-width: 450px;
     min-width: 200px;
     padding: 7px;
     &:focus {
       outline: none;
     }
     &:hover {
       background-color: #71c9f7;
     }
   }

 }

 .home-page {
   position: relative;
   margin: 0 auto;
   height: calc(100% - 80px);
 }

 .playlist-list {
   padding: 0;
   margin-top: 10px;
 }

.playlist {
  background-color: #EAE1F3;
  text-align: left;
  padding: 0 40px;
  // min-width: 250px;
  float: left;
  height: 100%;
  width: 20%;
}

.playlist-content {
  float: right;
  height: 100%;
  width: 80%;
}

div.video {
  width: 65%;
  height: 350px;
  float: left;
  background-color: black;
}

table.songs-table {
  margin-top: 30px;
  width: 100%;
  th {
    text-align: center;
  }
}

div.logo, form.search-container {
  width: 33.33%;
  float: left;
}

form.search-container {
  position: relative;
  margin-top: 14px;

  input {
    width: 90%;
    height: 35px;
    padding: 10px;
    outline: none;
  }
}
