
@media only screen and (max-width: 1076px) {
  div.playlist {
    padding: 0 18px;
  }
}


@media only screen and (max-width: 922px) {
  div.playlist {
    padding: 0 11px;
  }
}

@media only screen and (max-width: 848px) {
  a.new-playlist {
    font-size: 13px;
  }

  div.playlist-sub-info h1 {
    font-size: 24px !important;
  }

  ul.playlist-list li h4 {
    font-size: 14px;
  }

  nav.nav-bar h1 {
    margin-left: 20px;
  }

  div.playlist {
    display: none;
  }

  ul#desktop-nav-menu {
    display: none;
  }

  ul#mobile-nav-menu {
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  ul#mobile-nav-menu li a {
    color: white;
  }

  li#playlists-mobile, ul#mobile-nav-menu-white, ul#mobile-nav-menu-black {
    display: block;
  }

  nav.nav-bar ul {
    z-index: 100;
    position: absolute;
    right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }

  nav.nav-bar ul li {
    float: none;
  }

  div.playlist-content {
    width: 100%;
  }
}

@media only screen and (max-width: 627) {
  table.song-table {
    font-size: 11px;
  }
}


@media only screen and (max-width: 548px) {
  nav.nav-bar h1 {
    margin-left: 15px;
    font-size: 25px;
  }

  ul.nav-menu {
    margin-right: 0px;
  }

  nav.nav-bar ul li {
    font-size: 14px;
  }

}
