<form class="form-container">
  <div class="form-group">
    <label class="sr-only">Username</label>
    <input placeholder="username" autofocus="true">
  </div>
  <div class="form-group">
    <label class="sr-only">Email</label>
    <input placeholder="email" autofocus="true">
  </div>
  <div class="form-group">
    <label class="sr-only">Password</label>
    <input placeholder="password" autofocus="true">
  </div>
  <div class="form-group">
    <label class="sr-only">Password Confirmation</label>
    <input placeholder="password confirmation" autofocus="true">
  </div>
  <div class="form-group"><input class="submit" type="submit" value="Sign up"></div>
</form>
